@charset "UTF-8";

.header_logo {
	position: absolute;
	left: 0;
	top: -46px;
	width: 260px;
}

.header_container, .header_menu {
	margin-left: 44px;
	display: flex;
	align-items: center;
	margin-top: 13px;
}

.header_container {
	height: 120px;
	padding: 0 30px 0 35px;
}

.header_menu>li {
	font-size: 29px;
	font-weight: 600;
	margin-left: 50px;
}

.header_menu>li:nth-child(1) {
	margin-left: 220px;
}

.header_login {
	font-size: 29px;
	margin-left: 931px;
}